@font-face {
  font-family: 'iconfont';
  /* project id 841248 */
  src: url('//at.alicdn.com/t/font_841248_1mm92gv6flk.eot');
  src: url('//at.alicdn.com/t/font_841248_1mm92gv6flk.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_841248_1mm92gv6flk.woff') format('woff'), url('//at.alicdn.com/t/font_841248_1mm92gv6flk.ttf') format('truetype'), url('//at.alicdn.com/t/font_841248_1mm92gv6flk.svg#iconfont') format('svg');
}
body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Microsoft YaHei', '微软雅黑';
  background-color: #5a22a0;
}
.rank_list_mask_style {
  overflow: hidden;
}
.rank_list_box {
  width: 100%;
  height: 100%;
  position: relative;
}
.rank_list_box .mask-box {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.85;
  position: fixed;
  z-index: 3;
  top: 0;
}
.rank_list_box .money-box {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  z-index: 4;
  width: 100%;
  height: 100%;
}
.rank_list_box .money-box .imgs_box {
  position: relative;
  width: 100%;
  height: 100%;
}
.rank_list_box .money-box .imgs_box .box_sunshine {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 15% auto 0;
  width: 2.66666667rem;
  height: 2.66666667rem;
}
.rank_list_box .money-box .imgs_box .box_img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 17% auto 0;
  width: 2.66666667rem;
  height: 1.73333333rem;
}
.rank_list_box .money-box .imgs_box .gif_img_box {
  position: absolute;
  width: 2.8rem;
  height: 1.76rem;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 17% auto 0;
  background: url('../images/box_one.gif') no-repeat;
  background-size: 100%;
  font-size: 0.10666667rem;
  color: #ffc80f;
}
.rank_list_box .money-box .imgs_box .gif_img_box .mask_text_box {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  margin: 49% auto 0;
}
.rank_list_box .money-box .imgs_box .gif_img_box .mask_text_box .money_text {
  color: #fff;
}
.rank_list_box .money-box .imgs_box .open_box_btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 1.33333333rem;
  height: 0.33333333rem;
  margin: 40% auto 0;
}
.rank_list_box .titile_bg {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 9.86666667rem;
  background: url('../images/pc1@2x.jpg') no-repeat;
  background-size: 100% 100%;
}
.rank_list_box .titile_bg .my_achievement_box {
  position: absolute;
  z-index: 2;
  width: 5.01333333rem;
  margin-top: 3.92rem;
  left: 0;
  right: 0;
  margin: 29% auto 0;
}
.rank_list_box .titile_bg .my_achievement_box .my_grade_box {
  position: relative;
  width: 100%;
  height: 0.72rem;
  text-align: center;
  overflow: hidden;
}
.rank_list_box .titile_bg .my_achievement_box .my_grade_box .my_grade {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  width: 2.38666667rem;
  height: 0.68rem;
}
.rank_list_box .titile_bg .my_achievement_box .my_grade_box .my_grade_text {
  position: absolute;
  z-index: 2;
  margin: 1.7% auto 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  color: #fff;
  font-size: 0.16rem;
}
.rank_list_box .titile_bg .my_achievement_box .my_grade_box .my_grade_bg {
  position: absolute;
  top: 0;
  margin: 10% 0 0;
  width: 5.01333333rem;
  height: 0.24rem;
  background: #662cc7;
  border-radius: 0.08rem 0.08rem 0 0;
}
.rank_list_box .titile_bg .my_achievement_box .my_achievement_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0.32rem;
  background: #5b27b2;
  font-size: 0.13333333rem;
  color: #ffffff;
  font-weight: 200;
}
.rank_list_box .titile_bg .my_achievement_box .my_achievement_content {
  padding: 0 0 0.13333333rem;
  background: #662cc7;
  border-radius: 0 0 0.08rem 0.08rem;
}
.rank_list_box .titile_bg .my_achievement_box .my_achievement_content .my_achievement_content_top {
  display: flex;
  justify-content: center;
}
.rank_list_box .titile_bg .my_achievement_box .my_achievement_content .my_achievement_content_top .my_achievement_content_item {
  margin: 0.17333333rem 0 0.17333333rem 0;
  width: 50%;
  font-size: 0.13333333rem;
  color: #ffffff;
  font-weight: 200;
  display: flex;
  justify-content: center;
}
.rank_list_box .titile_bg .my_achievement_box .my_achievement_content .my_achievement_content_top .my_achievement_content_item .my_achievement_text_box .my_achievement_num {
  font-size: 0.16rem;
  font-weight: 600;
}
.rank_list_box .titile_bg .my_achievement_box .my_achievement_content .my_achievement_content_top .my_achievement_content_item .my_achievement_text_box .money {
  color: #ffdf15;
  font-weight: 600;
}
.rank_list_box .titile_bg .my_achievement_box .my_achievement_content .my_achievement_content_top .my_achievement_content_item:first-child {
  border-right: 1px dashed #ffffff;
}
.rank_list_box .titile_bg .my_achievement_box .my_achievement_content .my_achievement_btn {
  width: 1.41333333rem;
  height: 0.44rem;
  text-align: center;
  font-size: 0;
  margin: 0 auto;
}
.rank_list_box .titile_bg .my_achievement_box .my_achievement_content .my_achievement_btn img {
  display: block;
  width: 100%;
  height: 100%;
}
.rank_list_box .titile_bg .super_student_box {
  position: absolute;
  width: 5.01333333rem;
  left: 0;
  right: 0;
  margin: 0 auto 3.7%;
  bottom: 0;
}
.rank_list_box .titile_bg .super_student_box .super_student_title_box {
  position: relative;
  width: 100%;
  height: 0.72rem;
  overflow: hidden;
}
.rank_list_box .titile_bg .super_student_box .super_student_title_box .super_stu_bg_box {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}
.rank_list_box .titile_bg .super_student_box .super_student_title_box .super_stu_bg_box .my_grade {
  position: absolute;
  z-index: 2;
  width: 2.38666667rem;
  height: 0.68rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.rank_list_box .titile_bg .super_student_box .super_student_title_box .super_stu_bg_box .my_grade_bg {
  position: absolute;
  top: 0;
  margin: 10% 0 0;
  width: 5.01333333rem;
  height: 0.24rem;
  background: #662cc7;
  border-radius: 0.08rem 0.08rem 0 0;
}
.rank_list_box .titile_bg .super_student_box .super_student_title_box .super_stu_bg_box .title_text {
  position: absolute;
  z-index: 2;
  margin: 1.7% auto 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  color: #fff;
  font-size: 0.16rem;
}
.rank_list_box .titile_bg .super_student_box .rank_box {
  box-sizing: border-box;
  width: 100%;
}
.rank_list_box .titile_bg .super_student_box .rank_box .rank {
  width: 20%;
  text-align: center;
}
.rank_list_box .titile_bg .super_student_box .rank_box .rank .rank-img {
  width: 0.17333333rem;
  height: 0.21333333rem;
}
.rank_list_box .titile_bg .super_student_box .rank_box .student {
  width: 21%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.rank_list_box .titile_bg .super_student_box .rank_box .times {
  width: 26%;
  text-align: center;
}
.rank_list_box .titile_bg .super_student_box .rank_box .reward {
  width: 33%;
  text-align: center;
}
.rank_list_box .titile_bg .super_student_box .rank_box .reward .money {
  font-size: 0.18666667rem;
  color: #ffdf15;
}
.rank_list_box .titile_bg .super_student_box .rank_box .rank_title {
  display: flex;
  font-size: 0.13333333rem;
  color: #bbb;
  background: #5b27b2;
  height: 0.32rem;
  line-height: 0.32rem;
}
.rank_list_box .titile_bg .super_student_box .rank_box .rank_content_box {
  max-height: 3.01333333rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
.rank_list_box .titile_bg .super_student_box .rank_box .rank_content_box::-webkit-scrollbar {
  display: none;
}
.rank_list_box .titile_bg .super_student_box .rank_box .rank_content_box .rank_content {
  font-size: 0.13333333rem;
  font-weight: 200;
  color: #fff;
  background: #662cc7;
  border-radius: 0 0 0.17333333rem 0.17333333rem;
}
.rank_list_box .titile_bg .super_student_box .rank_box .rank_content_box .rank_content .rank_content_itme {
  display: flex;
  align-items: center;
  width: 100%;
  height: 0.32rem;
  line-height: 0.32rem;
}
.rank_list_box .footer {
  width: 100%;
}
.rank_list_box .footer img {
  width: 100%;
}
