body {
  height: 100%;
  overflow: hidden;
  background-color: #F1F5F7;
}

.indexALL {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-head {
  width: 92%;
  margin-top: 0.4rem;
}

.index-head img {
  width: 100%;
}

.index-text {
  width: 92%;
}

.index-text p {
  font-size: 0.34rem;
  color: #232323;
}

.index-btn {
  width: 92%;
}

.index-btn button {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 2.4rem;
  padding-left: 14px;
  padding-right: 14px;
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  line-height: 2.55555556;
  border-radius: 5px;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  background: #23A7F5;
  border: none;
  color: #fff;
}

a {
  text-decoration: none;
}